@using Microsoft.AspNetCore.Identity;
@using X.PagedList.Mvc.Core;
@using En_Luna.ViewModels;

@inject UserManager<User> UserManager
@model SolicitationIndexViewModel

@{
    ViewData["Title"] = "Solicitations";
    ViewData["AddContainer"] = true;
    var user = await UserManager.GetUserAsync(User);
}

<div class="row mt-4">
    <div class="col">
        <h2>Solicitations</h2>
        <hr />
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Solicitations" asp-action="Edit">New</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h4>Current Solicitations</h4>
    </div>
</div>

<!--TODO Filters-->

<div class="row mt-2">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Start Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active</th>
                    <th scope="col">Approved</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Cancelled</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (SolicitationViewModel item in Model.Solicitations)
                {
                    <tr>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td>@item.Description</td>
                        <td><i class="bi @(item.IsActive ? "bi-check2-square" : "bi-app")"></i></td>
                        <td><i class="bi @(item.IsApproved ? "bi-check2-square" : "bi-app")"></i></td>
                        <td><i class="bi @(item.IsComplete ? "bi-check2-square" : "bi-app")"></i></td>
                        <td><i class="bi @(item.IsCancelled ? "bi-check2-square" : "bi-app")"></i></td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Solicitations" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-danger" onclick="softDelete('/Solicitations/Deactivate', @item.Id, this)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model.Solicitations, page => Url.Action("Index", new { user.SolicitorId, page }), En_Luna.Helpers.HtmlHelper.PagedListRenderOptions)
    </div>
</div>
